/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2022, 11:46:11 AM
    Author     : Abbas
*/

body{
    background-color: #cbf5d9 !important;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    color: black;
    width: 100%;
    margin: 0px 1px 0px 1px;
}

#vid{
   text-align: center; 
   padding-bottom: 10px;
}
#vid iframe{
 margin-bottom: 30px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
-moz-transform:rotate(2.5deg);
-webkit-transform:rotate(2.5deg);
-o-transform:rotate(2.5deg);
-ms-transform:rotate(2.5deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 300px;
}

.div-abtus{
    text-align: center; 
}
.div-abtus ul{
    list-style-type: none;
}

.div-abtus2{
    text-align: center; 
}
.div-abtus2 ul{
    list-style-type: none;
}

.div-abtus3{
    text-align: center; 
}

.div-OurW{
    text-align: center;
}

.div-OurW a:hover{
    color: green;
    font-size: 25px;
}

.div-OurW li{
    list-style-type: none;
}




